.info-block {
    border: 2px solid red;
    width: 400px;
    height: 100%;
    border-radius: 5px;
    position: relative;
    left: 450px;
    bottom: 505px;
    padding: 3px ;
}
.img{
    height: 210px;
    width: 340px;
    padding-left: 30px;
}
.p{
    text-align: center;
}